# SG90
#[servo dock]
#pin: PA1
#maximum_servo_angle: 180
#initial_angle: 30

# B13DLM
[servo dock]
maximum_servo_angle: 120
pin: PA1
minimum_pulse_width: 0.0009
maximum_pulse_width: 0.0021

# SH_0255MG
#[servo dock]
#maximum_servo_angle: 180
#pin: PA1
#minimum_pulse_width: 0.00075
#maximum_pulse_width: 0.00225

# out of way of dock swing: 113,100
# undock approach start: 113,60
# undock approach end: 113,39
# undock retreat: 64,39

# dock approach start: 64,45
# dock approach phase 1: 91,45
# dock approach phase 2: 113,37
# dock retreat: 113,100 

[gcode_macro UNDOCK_PROBE]
gcode:
	G90
	M220 S100
	G1 X113 Y100
	SET_SERVO SERVO=dock ANGLE=180
	G1 X113 Y60
	G1 X113 Y39
	M220 S20
	G1 X64 Y39
	SET_SERVO SERVO=dock ANGLE=30
	M220 S100

[gcode_macro DOCK_PROBE]
gcode:
	G90
	M220 S100
	G1 X64 Y45
	SET_SERVO SERVO=dock ANGLE=180
	M220 S20
	G1 X91 Y45
	G1 X113 Y37
	M220 S100
	G1 X113 Y100
	SET_SERVO SERVO=dock ANGLE=30

	


