[include macros_homing.cfg]

[gcode_macro HEAT_SOAK]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 200
default_parameter_CHAMBER_TEMP: 0
gcode:
	{% if params.CHAMBER_TEMP|int > 0 %}
		CG28
		# Move toolhead to center for fans
		G0 X60 Y60 Z20 F3600
		M117 Heat Soak:{CHAMBER_TEMP}...
		# Turn on part fans
		M106
		# Set bed to temp
		SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
		# Set extruder to temp
		SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
		# Wait for chamber temp to reach target
		TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={CHAMBER_TEMP}
		# Turn off heaters (the START_PRINT macro will turn them on again)
		#TURN_OFF_HEATERS
		# Turn off part fans
		M107
		M117
	{% endif %}
	
#[gcode_macro old_heat_soak]
#gcode:
#    {% if printer.toolhead.status == "Ready" %}
#        G28
#        G1 Z10
#        G1 X60 Y60 F6000
#        M140 S100
#        SET_LED LED=build_plate RED=0.2 GREEN=0 BLUE=0
#        UPDATE_DELAYED_GCODE ID=heatsoak DURATION=600
#    {% else %}
#        M117 No soak: { printer.toolhead.status }
#    {% endif %}

#[gcode_macro heatsoak_leds]
#gcode:
#	SET_LED LED=build_plate RED=0 GREEN=0 BLUE=0
#	SET_GCODE_VARIABLE MACRO=heatsoak_leds VARIABLE=next_index VALUE=1
#	advance_heatsoak_leds

#[gcode_macro advance_heatsoak_leds]
#default_parameter_led_count: 10
#default_parameter_duration: 600
#gcode:
	
    
[delayed_gcode heatsoakDelay] 
gcode:
  M117
  SET_LED LED=build_plate RED=1 BLUE=0 GREEN=0
  G4 P250
  SET_LED LED=build_plate RED=0 BLUE=0 GREEN=0
  G4 P250
  SET_LED LED=build_plate RED=1 BLUE=0 GREEN=0
  G4 P250
  SET_LED LED=build_plate RED=0 BLUE=0 GREEN=0


