[gcode_macro MESH_Z_ENDSTOP_CALIBRATE]
gcode:
	CG28
	G1 X54.5 Y54.5 Z5
	Z_ENDSTOP_CALIBRATE

[gcode_macro MESH_PROBE_CALIBRATE]
gcode:
	CG28
	# probe offset: 1.5, -14
	G1 X53 Y68.5
	PROBE_CALIBRATE

[gcode_macro PROBE_BED_MESH_CALIBRATE]
gcode:
	G1 X54.5 Y54.5
	PROBE_ACCURACY
	BED_MESH_CALIBRATE
