[include macros_homing.cfg]
[include recirc.cfg]

[gcode_macro PURGE_LINE]
gcode:
	M117 Purge...
        # Move Z Axis up a little to prevent scratching of Heat Bed
        G1 Z2.0 F3000
        # Move to start position
        G1 X0 Y10 Z0.3 F5000.0
        # Draw the first line
        G1 X0 Y115 Z0.3 F1500.0 E15
        # Move to side a little
        G1 X0.3 Y115 Z0.3 F5000.0
        # Draw the second line
        G1 X0.3 Y10 Z0.3 F1500.0 E30
        # Reset extruder
        G92 E0
        # Move Z Axis up a little to prevent scratching of Heat Bed
        G1 Z2.0 F3000
        # Move over to prevent blob squish
        G1 X0.3 Y5 Z0.3 F5000.0
	M117 Printing...

[gcode_macro PRINT_START]
{% set BED_TEMP = params.BED_TEMP|default(60)|int %}
{% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|int %}

default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 200
gcode:
	RECIRC_PRINT_START
        M117 Heating...
        # Set bed temp
        M140 S{BED_TEMP}
        # Set extruder temp
        M104 S{EXTRUDER_TEMP}
        # Wait for bed temp
        M190 S{BED_TEMP}
        # Wait for extruder temp
        M109 S{EXTRUDER_TEMP}
        # Reset extruder
        G92 E0
        # Home all axes
        G28
        PURGE_LINE

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    RECIRC_PRINT_END
    M117 Finishing...
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600    ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear
    M117 Done
