# Prepare
[menu __main __prepare]
type: list
name: Prepare
enable: {not printer.idle_timeout.state == "Printing"}

[menu __main __prepare  __home]
type: command
name: Home
enable: {not printer.idle_timeout.state == "Printing"}
gcode: G28

# Prepare / Bed Level
[menu __main __prepare __bed_leveling]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Bed Level

[menu __main __prepare __bed_leveling __bed_screws_adjust]
type: command
name: Bed Screws
enable: {not printer.idle_timeout.state == "Printing"}
gcode: BED_SCREWS_ADJUST

[menu __main __prepare __bed_leveling __accept]
type: command
name: Accept
enable: {not printer.idle_timeout.state == "Printing"}
gcode: accept

[menu __main __prepare __bed_leveling __adjust]
type: command
name: Adjusted
enable: {not printer.idle_timeout.state == "Printing"}
gcode: adjusted

[menu __main __prepare __bed_leveling __abort]
type: command
name: Abort
enable: {not printer.idle_timeout.state == "Printing"}
gcode: abort

# Prepare / Calibrate
[menu __main __prepare __cal]
type: list
enable: {not printer.idle_timeout.state == "Printing"}
name: Calibrate

[menu __main __prepare  __cal __z_endstop_cal]
type: command
name: Z Endstop Cal
enable: {not printer.idle_timeout.state == "Printing"}
gcode: MESH_Z_ENDSTOP_CALIBRATE

[menu __main __prepare __cal __probe_cal]
type: command
name: Probe Cal
enable: {not printer.idle_timeout.state == "Printing"}
gcode: MESH_PROBE_CALIBRATE

[menu __main __prepare __cal __minus1]
type: command
name: Z -1
enable: {not printer.idle_timeout.state == "Printing"}
gcode: TESTZ Z=-1

[menu __main __prepare __cal __plus1]
type: command
name: Z +1
enable: {not printer.idle_timeout.state == "Printing"}
gcode: TESTZ Z=1

[menu __main __prepare __cal __minus.1]
type: command
name: Z -.1
enable: {not printer.idle_timeout.state == "Printing"}
gcode: TESTZ Z=-.1

[menu __main __prepare __cal __plus.1]
type: command
name: Z +.1
enable: {not printer.idle_timeout.state == "Printing"}
gcode: TESTZ Z=+.1

[menu __main __prepare __cal __minus.01]
type: command
name: Z -.01
enable: {not printer.idle_timeout.state == "Printing"}
gcode: TESTZ Z=-.01

[menu __main __prepare __cal __plus.01]
type: command
name: Z +.01
enable: {not printer.idle_timeout.state == "Printing"}
gcode: TESTZ Z=+.01

[menu __main __prepare __cal __accept]
type: command
name: Accept
enable: {not printer.idle_timeout.state == "Printing"}
gcode: accept

[menu __main __prepare __cal __abort]
type: command
name: Abort
enable: {not printer.idle_timeout.state == "Printing"}
gcode: abort
